@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<style>
	body {
		background: linear-gradient(180deg, #71C5E8 0%, #A4DBF2 50%, #CDECF9 100%);
		height: 100vh;
		margin: 0;
		font-family: "VT323", serif;
	}
</style>

<h1 class="loading-text">Website Gacha System </h1>
<div class="home-container">
	<div class="inside-container">
		<div class="webdesc-box">
			<p class="webdesc-text">Jelajahi serunya mendapatkan alat tulis unik melalui sistem undian keberuntungan kami!</p>
			<p class="webdesc-text">Setiap item yang Anda dapatkan akan otomatis tersimpan di akun Anda.</p>
			<p class="webdesc-text">Coba keberuntungan Anda, koleksi alat tulis favorit, dan tunjukkan koleksi terbaik Anda!</p>
		</div>
		<div class="creator-box">
			<div class="creator-title-box">
				<p class="creator-title-text">Creator:</p>
			</div>
			<div class="creator-name-box">
				<p class="creator-name-text">Kurniawan Surya Atmaja</p>
				<p class="creator-name-text">Riyan Naffa Nusafara</p>
				<p class="creator-name-text">Syahrul Afif Tri Anggara</p>
			</div>
		</div>
	</div>
</div>

@code{
}