<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Stationary Clash</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi login" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gacha">
                <span class="bi dadu" aria-hidden="true"></span> Gacha
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span class="bi profile" aria-hidden="true"></span> User Profile
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="collection">
                <span class="bi tas" aria-hidden="true"></span> Collection
            </NavLink>
        </div>
    </nav>
</div>

